.text {
    text-align: center;
    font-size: 2em;
}

.bio-text {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
   
@keyframes blinking-cursor {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@media only screen and (max-width: 700px) {
    .text {
        font-size: 1em;
    }
}