.text {
    color: white !important;
}

#navbar {
    background-color: rgb(29, 30, 31, 0.4);
}

#brand {
    font-size: 2vw;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.resume-link{
    color: white;
}

.resume-link:hover{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    #brand {
        font-size: 5vw;
    }
}